name: Deploy Infrastructure

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Initialize Terraform
        working-directory: infra/envs/dev
        run: terraform init

      - name: Plan Terraform
        working-directory: infra/envs/dev
        run: terraform plan -out=tfplan

      - name: Apply Terraform
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve tfplan
